
.resume {
    border: solid 1px $grey-color-light;
    border-spacing: 0;
    width: 100%;
    vertical-align: top;
    font-size: 12px;
    td {
      border-collapse: collapse;
      vertical-align: top;
      padding: 12px 12px;
    }
    h3 {
      color: $grey-color;
      font-size: 14px;
      font-weight: bold;
      vertical-align: top;
      margin-bottom: 2px;
      font-family: 'Lora', serif ;
    }
    em {
      font-style: italic;
    }
}
.resume-heading {
  background-color: #175779;
  color: #FFF;
  column-width: 100%;
  font-family: 'Lora', serif ;
  font-size: 22px;
}

.section-heading {
  h3 {
    text-align: right;
    color: #00688B;
  }
}

.profile-small {
  max-width: 64px;
  max-height: 64px;
  border: solid white 1px;
}

.resume-text {
  width: 85%;
  color: $grey-color-dark;
  p {
    margin-bottom: 4px;
  }
}